{% extends "EBUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-md-4">
            {% if user.googlePictureLink %}
                <img src="{{ user.googlePictureLink }}" height="300" width="300" />
            {% elseif user.facebookPictureLink %}
                <img src="{{ user.facebookPictureLink }}" />
            {% endif %}
        </div>
        <div class="col-md-4">
            {% include "EBUserBundle:Profile:show_content.html.twig" %}
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock fos_user_content %}
