{% extends 'EBMessageBundle::layout.html.twig' %}

{% block fos_message_content %}
    <h2>{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</h2>

    {% include 'EBMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}
{% endblock %}
