{% extends "::base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to the Home:index page</h1>
        </div>
        <div class="col-md-4">
            <p>Aside index</p>
        </div>
    </div>
{% endblock %}
