{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h2>Rules</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    Don't travel with unknown passenger at night.
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    Keep your ID and documents with you, in a case of a police control.
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    Try to retain details about the driver and the other persons that are in car.
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    Make sure that the door on your side is not blocked, especially if you are on the back seat.
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    Stay awake and be very carefully during the ride.
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    Follow the route to be traveled in the direction requested by you!
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <p>Aside index</p>
        </div>
    </div>
{% endblock %}
