{% extends "EBUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h5 class="text-center">Register or Log in with your favorite social network</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="row">
                <div class="col-md-6">
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}" class="text-center">
                        <img src="{{ asset('bundles/ebride/images/btn-login-fb.png') }}" alt="Log in with Facebook" id="btn-fb" class="img-responsive" />
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}">
                        <img src="{{ asset('bundles/ebride/images/btn-login-google.png') }}" alt="Sign in with Google" id="btn-google" class="img-responsive" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h5 class="text-center">Or you can Sing up using the form below</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {% include "EBUserBundle:Registration:register_content.html.twig" %}
        </div>
    </div>
{% endblock fos_user_content %}

{% block javascripts %}
    <!-- Google Maps JavaScript API v3 -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4v-bl8lRcjQV7Lu1culp3jbntnZ7NrZo&sensor=false&libraries=places&language=ro"></script>
    <script type="text/javascript">
        function initialize() {
            // locations input fields & options
            var cityInput = document.getElementById('fos_user_registration_form_city');
            var autocompleteOptions = {
                types: ['(cities)'],
                componentRestrictions: {country: 'ro'}
            };

            // startLocationAutocomplete & stopLocationAutocomplete
            var cityAutocomplete = new google.maps.places.Autocomplete(cityInput, autocompleteOptions);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
